.fundoCadastro {
    background-image: url("https://discord.com/channels/1327008449996914819/1347290782465392641/1365034135319740526");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }