fundoAtualizarProduto {
    background-image: url("https://ik.imagekit.io/willa/pexels-olly-3756679.jpg?updatedAt=1745179200767");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }