.fundoCadastrarProduto {
    background-image: url("https://ik.imagekit.io/willa/pexels-fauxels-3184416.jpg?updatedAt=1745179200931");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }